body {
    background:linear-gradient(rgba(31,46,23,255),rgba(31,46,23,255),rgba(31,46,23,255),rgba(31, 107, 23, 255));
    background-repeat: no-repeat;
    size: larger;
}

h1{
    color: #f8f8c8;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 60px ;
}

p {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: #f8f8c8;
    font-size: x-large;
 }

 .description {
  font-family: "Kanit", sans-serif;
}
  
  
a {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: #f8f8c8;
    font-size: xx-large;
    text-decoration: none;
}
a:hover {
    color: darkgoldenrod;
    transition: all 0.3s ease; 
}

a:active{
    color: darkgoldenrod;
    transition: all 0.3s ease; 
}

ul, ul li {
    color: #f8f8c8;
    font-family: 'WDXL Lubrifont TC', sans-serif ;
    font-size: 1.2em;
    text-decoration: none;
}

ul li {
    color: #f8f8c8;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  ul li:hover {
    color: black;
    text-decoration: none;
  
  }
  
  ul li:active {
    color: #f8f8c8;

  }

  sub{
    color: darkgoldenrod;
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
  }

  button { 
    padding: 4px 15px;
    margin: 20px;
    font-family:'WDXL Lubrifont TC', sans-serif ;
    background-color: darkgoldenrod;
    color: #f8f8c8;
    border: none;
    border-radius: 5px;
    font-size: 1.6em;
  }

  button:hover {
    background-color:#f8f8c8;
    color: darkgoldenrod;
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 7px;
  }

  button:active {
    background-color: rgba(31,46,23,255);
    color: #f8f8c8;
    transition: all 0.2s ease; 
    border-radius: 10px;
  }

  .workshopmenupics {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;}

    .mainmenu {
    width: 65%;
    height: 65%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .workshopmenubody {
    background: linear-gradient(rgba(31,46,23,255),rgba(31,46,23,255),rgba(31, 107, 23, 255),rgba(31,46,23,255),rgba(31, 107, 23, 255),rgba(31,46,23,255),rgba(31, 107, 23, 255));
  }
    