body {
    background:linear-gradient(rgba(31,46,23,255),rgba(31,46,23,255),rgba(31, 107, 23, 255),rgba(31, 107, 23, 255));
    background-repeat: no-repeat;
    size: larger;
}

h1{
    color: #f8f8c8;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 60px ;
}


p {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: #f8f8c8;
    font-size: x-large;
 }

 .description {
  font-family: "Kanit", sans-serif;
}
  
  
a {
    font-family: 'WDXL Lubrifont TC', sans-serif;
    color: #f8f8c8;
    font-size: xx-large;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease; 
}

a:active{
    color: darkgoldenrod;
    transition: all 0.3s ease; 
}

ul, ul li {
    color: #f8f8c8;
    font-family: 'WDXL Lubrifont TC', sans-serif ;
    font-size: 1.2em;
    text-decoration: none;
    list-style: none;
}

ul li {
    color: #f8f8c8;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  ul li:hover {
    color: black;
    text-decoration: none;
  
  }
  
  ul li:active {
    color: #f8f8c8;

  }

  sub{
    color: darkgoldenrod;
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    margin-left: 8px;
  }

  button { 
    padding: 4px 15px;
    margin: 20px;
    font-family:'WDXL Lubrifont TC', sans-serif ;
    background-color: darkgoldenrod;
    color: #f8f8c8;
    border: none;
    border-radius: 5px;
    font-size: 1.6em;
  }

  button:hover {
    background-color:#f8f8c8;
    color: darkgoldenrod;
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 7px;
  }

  button:active {
    background-color: rgba(31,46,23,255);
    color: #f8f8c8;
    transition: all 0.2s ease; 
    border-radius: 10px;
  }

  .workshopmenupics {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;}

    .workshopmenupics-p {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
    

    .mainmenu {
    width: 65%;
    height: 65%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .workshopmenubody {
    background: linear-gradient(rgba(31,46,23,255),rgba(31,46,23,255),rgba(31, 107, 23, 255),rgba(31,46,23,255),rgba(31, 107, 23, 255),rgba(31,46,23,255),rgba(31, 107, 23, 255));
  }
  
  .extra {
    font-size: medium;
  }

  .drinksmenu {
    width: 50%;
    height: 50%;
    background-color: rgb(199, 77, 77);
    display: block;
    margin: 0 auto;
    padding: 15px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .workshopmenu {
    background-color: rgb(100, 100, 226);
    padding: 15px;
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .drinksmenu:hover, .workshopmenu:hover {
    transform: scale(1.05);
    
  }

  .drinksmenu:active, .workshopmenu:active {
    transform: scale(0.95);
  }

  .hots {
    width: 50%;
    background: linear-gradient(to bottom, #3b2f2f, #5b4033, #7a4e3a, #a56a4d);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .colds {
    width: 50%;
    background: linear-gradient(to bottom, #fffde1, #fdf6b2, #fce97b, #fbd74b, #ffd60a);
    padding: 10px;
    height: 50%;
    display: block;
    padding: 10px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .hotcoffees {
    width: 50%;
    background: linear-gradient(to bottom, #3b2f2f, #5b4033, #8b5e3c, #cfa276, #f1e0c5);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

  }

  .coldcoffees {
    width: 50%;
    background: linear-gradient(to bottom, #d8c3a5, #c0a98f, #a68c75, #86715d, #665544);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

  }

  .teas {
    width: 50%;
    background: linear-gradient(to bottom, #702919, #8b3a25, #a54a2a, #c35d35, #e07a4b);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

  }

  .matcha {
    width: 50%;
    background: linear-gradient( green, rgb(211, 211, 156));
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

  }

  .cake {
    width: 50%;
    background: linear-gradient(to bottom, #fff0f5, #ffe4e1, #ffd8b1, #fff5cc);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

  }

  .bowl {
    width: 50%;
    background: linear-gradient(to bottom, #fdf6ec, #f9e5d8, #f4d0c0, #e8a88f, #d67c6e);
    padding: 10px;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;


  }